:root {
  --header: #1d1d1d;
}

header {
  .navbar {
    background-color: var(--header) !important;
  }
  .navbar-brand {
    color: white !important;
    .logoNav{
        height: 42px;
        margin-right: 8px;
    }
  }
  .nav-link {
    color: white !important;
    margin: 2px 8px;
    i{
        margin-right: 4px;
    }
  }
}

body {
  margin: 0;
  background-color: #1d1d1d;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  margin-top: 32px;

}

.bannerIndex{
  background-color: black;
  width: 100%;
    h2{
        color: white;
        font-weight: bold;
    }
}

