:root {
  --header: #1d1d1d;
}

header {
  .navbar {
    background-color: var(--header) !important;
  }
  .navbar-brand {
    color: white !important;
  }
  .nav-link {
    color: white !important;
  }
}
